<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Documentation is available at: -->
  <appSettings>
    <add key="loggingpolicy" value="all" />
    <add key="logname" value="Log"/>
    <!-- Path to log file, {0} represents current date in yyyyMMdd-HHmmss format -->
    <add key="logdirectory" value="testlog.{0}.txt"/>
    <add key="screenshotpolicy" value="all" />
    <add key="screenshotpath" value="Screenshots\" />
  </appSettings>
</configuration>